body{
  background-color: #87bdca;
}

.gallery{
  height: 222px;
  width: 222px;
  padding-left: 800px;
}

.gallery img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: 0.5s ease;
}

.gallery img:hover{
  transform: scale(1.3);
  filter: grayscale(0%);
}

.oo{
  text-align: start;
  font-size: 20px;
  max-width: 400px;
  margin: auto 5px;
}      